body {
    margin: 0px;
}

/* .content {
    width: 50px;
    height: 50px;
    background-color: aqua;
    border: 2px solid violet;
    box-sizing: border-box;
}

.one {
    margin: 40px;
}

.two {
    margin: 60px;
}

.three {
    margin: auto
} */

.wrapper {
    border: 2px solid black;
    width: 300px;
}

.inner {
    width: 50%;
    border: 1px solid red;
    padding: 10%;
}